{% extends 'base.html' %}

{% block title %}
MEDxCure - Patient Dashboard
{% endblock %}

{% block content %}

<!-- Navigation Bar -->
<div class="d-flex flex-column min-vh-100"
    style="background-image: url('{{ url_for('static', filename='images/homepage.jpg') }}'); background-size: cover; background-position: center; width: 100%; height: 100vh;">
    
    {% include 'patient/patient_nav.html' %}

    <!-- Main Content -->
    <div class="d-flex flex-column justify-content-center align-items-center text-white text-center m-3 p-3 position-relative">

        {% include 'flash_message.html' %}

        <p class="d-inline text-light px-3 py-1 mx-2 my-2 fw-bold" style="font-size: 5rem;">Hello {{ patient.name }}</p>
        
    </div>
</div>
{% endblock %}