<nav class="navbar navbar-dark" style="background-color: #00ab7dff;">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand mx-5 fs-4 fw-medium" href="{{ url_for('dashboard') }}">MEDxCure</a>
        <div class="ms-4">
            <a href="{{ url_for('departments') }}" class="btn btn-outline-light rounded-pill fs-5 fw-medium px-3 py-1 mx-2 border-0">Departments</a>
            <a href="{{ url_for('doctors') }}" class="btn btn-outline-light rounded-pill fs-5 fw-medium px-3 py-1 mx-2 border-0">Doctors</a>
            <a href="{{ url_for('patients') }}" class="btn btn-outline-light rounded-pill fs-5 fw-medium px-3 py-1 mx-2 border-0">Patients</a>
        </div>

        <!--- Search Bar -->
        <form class="d-flex mx-4" role="search">
            <div class="input-group mx-4">
                <input type="text" class="form-control rounded-pill border-0 px-3" placeholder="Search...">
                <button class="btn btn-outline-light rounded-pill border-0 ms-2" type="button">
                    <i class="bi bi-search fs-5"></i>
                </button>
            </div>
        </form>
        <!--- Logout Button -->
        <div class="ms-auto me-2">
            <a href="#" class="btn btn-outline-light rounded-pill border-0 px-4 py-0">
                <i class="bi bi-box-arrow-right fs-3 fw-bolder"></i></a>
        </div>
    </div>
</nav>